.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px 0;
    background: transparent;
    transition: all 0.3s ease;
    z-index: 1000;
}

.navbar.scrolled {
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(10px);
    padding: 16px 32px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.navbar-logo a {
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.navbar-logo a:hover {
    color: #64b7f6;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
}

.navbar-menu li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: #64d5f6;
    transition: width 0.3s ease;
}

.navbar-menu li a:hover {
    color: #64b7f6;
}

.navbar-menu li a:hover::after {
    width: 100%;
}

/* para acultar el boton para la hamburguesa*/
.menu-toggle {
    display: none;
    flex-direction: column;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background: #1a1a1a;
    margin: 3px 0;
    transition: all 0.3s ease;
    border-radius: 3px;
}

.menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}

@media (max-width: 768px) {

    .navbar-container {
        padding: 0 20px;
    }

    .menu-toggle {
        display: flex ;
        gap: 4px;
    }

    .menu-toggle span {
        display: block ;
        width: 28px ;
        height: 3px ;
        background: #1a1a1a ;
    }

    .menu-toggle.active span {
        background: white;
    }

    .navbar-menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.95);
        backdrop-filter: blur(10px);
        flex-direction: column;
        padding: 80px 32px 32px;
        gap: 32px;
        transition: top 0.4s ease;
        align-items: center;
    }

    .navbar-menu.active {
        top: 0;
    }

    .navbar-menu li a {
        font-size: 19px;
        color: white ;
    }

    .navbar-menu li a::after {
        display: none;
    }
}